/*****************
Fonts
******************/
@font-face{
	font-family: Lato-Regular;
    src: url(../fonts/Lato-Regular.ttf);
}

@font-face{
	font-family: Lato-BlackItalic;
    src: url(../fonts/Lato-BlackItalic.ttf);
}

@font-face{
	font-family: Lato-Black;
    src: url(../fonts/Lato-Black.ttf);
}

/*****************
Dobra06
******************/
.dobra06{
	position: relative;
	display: block;
	text-align: center;

	height: auto;
	padding: 30px;
}

.dobra06 h1{
	font-family: Lato-BlackItalic;
	font-size: 26pt;

	color: #0a123d;
	margin: 50px 0;
}

.dobra06Thumbs
{
	display: inline-table;
	margin: 40px 50px;

	width: 250px;
	height: 360px;
}

.dobra06Thumbs h2{
	font-family: Lato-BlackItalic;
	font-size: 20pt;

	color: #404040;
	margin: 30px 0;
}

.dobra06Thumbs p{
	font-family: Lato-Regular;
	font-size: 11pt;

	color: #5d5d5d;
	margin: 40px 20px;
}

.dobra06 img{
	width: 150px;
	height: 150px;

	/** máscara circular **/
	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);
}

/*****************
Dobra07
******************/
.dobra07{
	position: relative;
	text-align: center;

	padding: 20px;
	height: auto;

	background-color: #f59509;
    background-image: url(../img/bg1.png);
    background-position: right;
    background-repeat: no-repeat;
}

.dobra07 h1{
	font-family: Lato-BlackItalic;
	font-size: 26pt;

	color: #ffffff;
	margin: 50px 0;
}

.dobra07 p{
	font-family: Lato-Regular;
	font-size: 13pt;

	margin: 40px auto;
	max-width: 570px;
	
	color: #323232;
	display: block;
}

.dobra07 form{
	margin: 10PX auto;
	max-width: 570px;
}

.dobra07 input[type=text]{
	margin: 10px 0;
	padding: 15px 0;

	width: 100%;
	text-align: left;

	font-size: 12pt;
	font-family: Lato-Regular;
	
	color: #323232;
	background-color: transparent;

	border: none;
	border-bottom: 2px solid #ffffff;
}

.dobra07 input[type=text]:focus {
    outline: none !important;
    border-bottom: 5px solid #ffffff;
}

.dobra07 input[type=text]:hover {
	font-weight: bold;
    border-bottom: 4px solid #ffffff;
}

.dobra07 input[type=submit]{
	margin: 35px 0;
	padding: 0 30px;

	text-transform: uppercase;
	text-align: left;

	font-family: Lato-Black;
	font-size: 12pt;
	letter-spacing: 2pt;
	
	width: 155px;
	height: 50px;
	
	color: #ffffff;
	background-color: #001065;
	background-image: url(../img/arowRight.png);
	background-position: 85% 50%;
    background-repeat: no-repeat;

	border: none;
	
	/** máscara hexagonal **/
	-webkit-clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
	clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0 50%);
}

.dobra07 input[type=submit]:hover{
	background-color: #001aa3;
}

/*****************
Rodapé
******************/
.rodape
{
	position: relative;	
	text-align: center;

	padding: 10px;
	min-height: 240px;

	background-image: url(../img/cacLogo.png);
    background-position: center;
    background-repeat: no-repeat;
}

.rodape img{
	width: 40px;
	height: 40px;

	display: inline-table;
	vertical-align: middle;
}

.rodape p{
	color: #323232;
	display: inline-table;

	margin: 10px 100px 10px 10px;
	max-width: 570px;

	font-family: Lato-Regular;
	font-size: 13pt;
	
}

.rodapeTelefone
{
	height: 40px;

	position: absolute;
	margin: auto;

	bottom: 0;
	left: 0;
	right: 0;
}